.sidebarItem {
  height: 66px;
  transition: height 0.12s ease;
  will-change: height;

  svg {
    fill: #555555;
  }
  .sidebarIcon {
    margin-bottom: -18px;
    transition: margin 0.12s ease;
    will-change: margin;
  }
  .sidebarText {
    color: #aaaaaa;
    opacity: 0;

    transform: translateY(-4px) scaleZ(0);
    transition: transform 0.12s ease, opacity 0.05s ease;
    will-change: transform, opacity;
  }

  &:hover {
    height: 80px;
    background-color: #000000;

    svg {
      fill: #ffffff;
    }
    .sidebarIcon {
      margin-bottom: 0;
    }
    .sidebarText {
      color: #e14f3d;
      opacity: 1;

      transform: translateY(0) scaleZ(1);
    }
  }

  &.active {
    height: 80px;
    background-color: #330101;
    pointer-events: none !important;

    svg {
      fill: #ffffff;
    }
    .sidebarIcon {
      margin-bottom: 0;
    }
    .sidebarText {
      color: #e14f3d;
      opacity: 1;

      transform: translateY(0) scaleZ(1);
    }
  }

  &.small {
    height: 60px;

    .sidebarIcon {
      margin-bottom: 0;
    }
  }
}
