{
  "extends": "stylelint-config-wild",
  "rules": {
    "max-nesting-depth": null,
    "selector-max-id": null,
    "property-no-vendor-prefix": null,
    "selector-no-qualifying-type": null,
    "declaration-no-important": null
  }
}
