// Styling for navbar.

.results-navbar {
  display: flex;
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F3F3F4;
}

.results-company-logo {
  width: 90px;
  height: 30px;
  cursor: pointer;
}

.results-form-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.results-form-input {
  position: relative;
}

.results-search-button {
  border: none;
}

#results-search-bar {
  width: 700px;
  border-radius: 30px;
  outline: none;
  height: 45px;
  border: 1px solid #EEE;
  padding-left: 20px;
  padding-right: 50px;
}

#results-search-bar:hover {
  box-shadow: 1px 1px 1px 1px rgb(224, 223, 223);
}

#results-fa-search {
  position: absolute;
  top: 15px;
  right: 40px;
  color: #4185F4;
  cursor: pointer;
}
//Styling for navbar category tabs

.navbar-tabs {
  margin-top: 20px;
}

.navbar-tab-all {
  color: #1973E7;
  border-bottom: 3px solid #1973E7;
  font-size: 14px;
  width: 30px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

//Styling for no results page.

.no-results {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 180px;
  margin-top: 50px;
}

.noresult-query-display {
  font-weight: bold;
}
//Styling for results section.

.results {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 180px;
}

.result-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.result-about {
  color: #4D5156;
  padding-top: 20px;
  font-size: 14px;
}

.result-displayed-url {
  color: #5F6368;
  font-size: 15px;
}

.result-title {
  font-size: 20px;
  color: #190DAB;
}

.result-snippet {
  color: #5F6368;
  font-size: 15px;
}
//Styling for related searches section.

.related-searches-header {
  font-size: 20px;
  font-weight: 400;
}

.related-searches {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 5px;
}

.related-searches-items {
  color: #190DAB;
}
//Styling for the loading page.

.loading-container {
  background-color: #FFF1CE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  object-fit: cover;
  height: 100vh;
}
//Styling for more results pages.

.results-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-page-numbers {
  display: flex;
  justify-content: center;
}

.results-page-next {
  margin-left: 20px;
}

.results-page-company-logo {
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
