/**
 * Defines the base SCSS variables that may be used
 * across the projects in all stylesheets where Global.scss
 * is imported.
**/

// ===============================
// ===============================
// ===============================
// === VISUAL
// ===============================

// === FONTS ===
$defaultFont: "Arial";
$primaryFont: "Oswald";

// === COLORS ===
$prim: #e14f3d;
$primMedium: #741b16;
$primDark: #5d1612;

$white: #fff;
$offWhite: #f0f0f0;
$text: #aaa;
$darkText: #777;
$iconColor: #555;

// === BORDER ===
$darkBorder: #151517;

// === BACKGROUNDS ===
$lightBlack: #080809;
$frameBackground: #111;
$darkBackground: #101012;
$lightBackground: #1c1c1f;
$off: #333;
$offLight: #555;

// === LESSON TYPES ===
$technique: #ff9500;
$interview: #fc0;
$repertoire: #ff3b30;

// === BORDER RADIUS ===
$buttonRadius: 4px;
$contentRadius: 4px;
$curvedRadius: 50%;

// === SHADOW ===
$boxShadow: rgba(0, 0, 0, 0.12) 0 4px 16px 0;
$boxShadow__light: rgba(0, 0, 0, 0.24) 0 8px 16px 0;
$boxShadow__dark: rgba(0, 0, 0, 0.06) 0 8px 8px 0;

// ===============================
// ===============================
// ===============================
// === LAYOUT
// ===============================

// Navbar
$navBarHeight: 50px;

// Banner Bar
$bannerBarHeight: 42px;

// Tabbar
$tabBarHeight: 60px;
$tabBarIconSize: 18px;

// Sidebar
$contractedSidebarWidth: 66px;
$expandedSidebarWidth: 180px;

// Rightbar
$tabletRightbarWidth: 180px;
$desktopRightbarWidth: 210px;
