@import '../../styleSystem.scss';

.clock-container {
  height: 100vh;
}

.clock {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-color: $prim;
}
