@import '../../styleSystem.scss';

.clock-container {
  height: 100vh;
  position: relative;
}

.clock {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-color: $prim;
  background: url(../../static/images/Clock_large.png);
  background-size: cover;
  box-shadow: -2px 2px 0 $primMedium, inset 0 0 20px rgba(0, 0, 0, 0.5);

  &__hand-hinge {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    background: $prim;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: calc(
      50% - 4px
    ); /* -5px because that is half the height of the clock arm (10px) */
    left: 50%;
    width: 32%;
    height: 8px; /* Thickness of the clock arm */
    background: $darkBorder;
    border-radius: 5px;
    transform-origin: left;
  }
}
