.counter {
  width: 90%;
  max-width: 1190px;
  height: 90vh;
  margin: 0 auto;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
  }
}