.nav {
  width: 100vw;
  font-size: 1.3rem;
  color: #FFF;
  justify-content: space-between;

  &__container {
    margin-right: 3rem;
    align-items: center;

    &-link {
      padding: 1.5rem;
    }
  }
}

// .switch__container {
//     padding: 1.5rem;
// }
