.search__label {
  display: flex;
  flex-flow: column;
  color: black;
  font-weight: bolder;
  margin: 0 auto 10px;
}

.search__input {
  width: 480px;
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #f5f5f5;
  color: black;
  font-weight: normal;

  &:focus,
  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
}
