@import "styleSystem.scss";

.searchform {
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  font-size: 1.5rem;
  display: flex;
  font-family: $primaryFont;
  margin: 0 auto;
  text-align: left;
}

.searchform__input {
  padding: 0.15em 0.25em;
  padding-right: 2rem;
  flex: 1 1 auto;

  &:hover {
    outline: 2px inset white;
    outline-offset: -2px;
  }

  &:active {
    background-color: black;
    color: white;
  }

  &:focus {
    background-color: black;
    color: white;

    // on input focused and hovering clear button, style clear button

    & + div button:first-child:hover {
      color: white;
    }
  }
}

.searchform-buttons {
  display: flex;
  position: relative;
  align-items: center;
}

.searchform__clear {
  position: absolute;
  left: -75%;
  visibility: visible;
  opacity: 1;
  padding: 0.1rem 0.65rem;
  margin: 0;
  color: grey;
  font-size: 1.2rem;
  font-weight: 500;

  &--d-none {
    visibility: hidden;
    width: 0;
    padding: 0;
    opacity: 0;
    transition: visibility 0ms, opacity 250ms ease-out; // fade in button, transition doesn't support display: hidden, so using visiblity + margin + width attributes
  }

  &:hover {
    outline: none;
    color: black;
    font-weight: 700;
  }

  &:active {
    outline: none;
    color: black;
    font-weight: 700;
  }

  &:focus {
    color: black;
    font-weight: 700;
  }
}

.searchform__submit {
  border-left: 1px solid black;
  padding: 0.15em 0.25em;
  flex-grow: 0;
  height: 100%;

  &:hover {
    outline: none;
    background-color: black;
    color: white;
  }

  &:active {
    outline: none;
    background-color: white;
    color: black;
  }

  &:focus {
    background-color: black;
    color: white;
  }
}
