.container {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  max-width: 50%;
  padding: 50px;
  border: 1px solid #aaa;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  font-size: 2rem;
  color: rgb(11.8%, 56.5%, 100%);
}

$btn-color: rgb(49.8%, 100%, 83.1%);

.btn {
  color: $btn-color;
  border: 1px solid $btn-color;
  border-radius: 50%;
  background: none;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  cursor: pointer;

  &:first-child {
    margin: 10px;
  }

  &:hover {
    background: $btn-color;
    color: white;
  }
}
