@import "styleSystem.scss";

.home {
  margin: 0 2rem;
  text-align: center;
  width: 100%;
}

.searchbar {
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  font-size: 1.5rem;
}

input {
  border: 1px solid black;
  text-align: left;
  padding: 0.15em 0.25em;
  width: 100%;
  font-size: inherit;
}

button {
  background: white;
  border-style: none;
  border: 1px solid black;
  padding: .25rem;

  &:hover {
    background: black;
    color: white;
  }
}
