/* @styled-jsx=global */

// === STYLE SYSTEM ===
@import "styleSystem.scss";
// ===============================
// ===============================
// ===============================
// === HTML ELEMENT
// ===============================

html {

  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 2px solid #000;
    border-radius: 8px;
  }

  &.__showScrollbar {

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }
}

// ===============================
// ===============================
// ===============================
// BODY ELEMENT
// ===============================

h1 {
  font-size: 4.5rem;
  font-weight: 550;
  font-family: "PT Sans";
  color: rgb(100, 201, 100);
}
h2 {
  font-size: 1rem;
  font-family: "PT Sans";
  color: rgb(100, 201, 100);
}

body {
  min-height: 100vh;
  color: #212b36;
  font-size: 16px;
  line-height: 22pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  font-family: Arial, Helvetica, "Roboto", sans-serif;
  background-color: #1c1c1f;
  overflow-x: hidden;

  // Handle no scroll for modals

  &.__noScroll {
    overflow: hidden !important;

    @supports (-webkit-overflow-scrolling: touch) {
      position: fixed;
      top: 0;
      left: 0;

      min-width: 100vw;
      min-height: 100vh;
    }
  }
}

// ===============================
// ===============================
// ===============================
// NEXT JS Root
// ===============================

#__next {
  position: relative;
  width: 100%;
  height: 100%;
}

// ===============================
// ===============================
// ===============================
// WRAPPERS
// ===============================

// <<< Wrapped from withFrame

#globalWrapper {
  height: 100%;
  position: relative;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
  min-height: 100vh;
}

// <<< Body Content wrapped from withFrame

#bodyWrapper {
  height: 100%;
  position: relative;
  z-index: 100;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

// <<< The actual page component wrapper

.pageBody {
  width: 100%;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

 
}

// <<< Wrapped from within each page component

.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  max-width: 1680px;
  
  transform: translateZ(0); /*for older browsers*/
  will-change: transform;
  overflow-anchor: none;

  // Blur background when modal is open
  // &.__modalOpen {
  //   filter: blur(2px);
  // }

  @media (min-width: 1680px) {
    min-width: 1680px;
    max-width: 1680px;

    margin-left: auto;
    margin-right: auto;
  }
}

// ===============================
// ===============================
// ===============================
// PAGE ITEMS
// ===============================

// <<< Frame items

.tbFrame {
  position: fixed;
}

// <<< "Clearfix" for major page items

.pageContentItem {

  &::before {
    display: flex;
    content: "";
  }
}

// << Common Upgrade Icon

.upgradeSVG {
  width: 11px;
  height: 11px;

  @media (min-width: 992px) {
    width: 14px;
    height: 14px;
  }
}

// << Loading Animation

.blackAnimated {
  background-color: #333;

  animation-name: pulse;
  animation-duration: 2.1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 320ms;

  &.pulseDark {
    animation-name: pulseDark;
  }
}

@keyframes pulse {

  0% {
    background-color: #333;
  }

  50% {
    background-color: #555;
  }

  100% {
    background-color: #333;
  }
}

@keyframes pulse {

  0% {
    background-color: #111;
  }

  50% {
    background-color: #333;
  }

  100% {
    background-color: #111;
  }
}
