.modalToggle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: none;

  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;

  &.__shown {
    display: flex;
    z-index: 99;
  }
}

.tbModal {
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;

  opacity: 0;
  transform-origin: top;
  transform: translate3d(0, 0, 0) translateZ(0) scale(0.75);
  will-change: transform;
  transition: transform 0.2s ease, opacity 0.12s ease;

  &.__shown {
    z-index: 100;
    opacity: 1;
    transform: translate3d(0, 0, 0) translateZ(0) scale(1);
  }

  @media (min-width: 768px) {
    left: 80px;
  }
}

.tbModal * {
  pointer-events: initial;
}

.modalContent {
  position: relative;
  z-index: 101;
  margin-top: 66px;

  width: 95%;
  max-width: 1100px;
  min-height: 100px;

  overflow: auto;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.32);

  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 2px solid #000;
    border-radius: 8px;
  }

  &.smallModal {
    max-width: 640px;
  }

  &.mediumModal {
    max-width: 850px;
  }

  @media (min-width: 768px) {
    margin-top: 76px;
    margin-bottom: 16px;

    max-height: 95vh;
    max-width: 95vw;
  }
}
